body {
  font-family: 'Noto Serif', serif;
  text-align: justify;
  background-color: #fdf6e3;
  color: #353025;
  max-width: 700px;
  margin: 40px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

h1, h2, h3, h4 {
  font-family: 'Noto Sans', sans-serif;
  text-align: left;
  margin-top: 40px;
}

a {
  color: #004499;
  text-decoration-style: dotted;
}

a:visited {
  color: #552277;
}

a:hover {
  color: #004499;
  text-decoration-style: solid;
}  

nav a,
nav a:visited {
  margin-left: 20px;
  font-size: small;
  text-decoration: none;
  color: #93a1a1;
}

nav a:hover {
  color: #004499;
  text-decoration: underline;
}

nav {
  float: right;
}

header {
  clear: right;
  padding-top: 40px;
  margin-bottom: 50px;
}

header h1 {
  font-size: 40px;
  display: inline;
}

header h1 a img {
  vertical-align: -14px;
  margin-right: -6px;
  box-shadow: none;
}

header h4 {
  display: inline;
}

img {
  box-shadow: 2px 2px 15px #93a1a1;
}

img#magit-logo {
  box-shadow: unset;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.post-meta {
  font-size: small;
  color: #93a1a1;
}

.post-list li h2 {
  margin-top: 5px;
}

pre,
code {
  font-size: 15px;
  margin: 0;
  padding: 0;
  background-color: #eee8d5;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}

pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

figure {
  margin: 0;
  padding: 0;
}

/* Code Highlighting Style for Pygments or Rouge */
/* Solarized Light Color Scheme by Ethan Schoonover */
/* http://ethanschoonover.com/solarized */
.highlight { color: #657b83; background: #fdf6e3; }
.highlight .emphasized, .highlight .gs, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr { color: #586e75; font-weight: bold; }
.highlight .linenos { color: #93a1a1; }
.highlight .bp { color: #93a1a1; }
.highlight .c { color: #93a1a1; font-style: italic; }
.highlight .c1 { color: #93a1a1; font-style: italic; }
.highlight .cm { color: #93a1a1; font-style: italic; }
.highlight .cp { color: #dc322f; font-weight: bold; }
.highlight .cs { color: #93a1a1; font-weight: bold; font-style: italic; }
.highlight .err { color: #657b83; background-color: #dc322f; }
.highlight .gd .x { color: #657b83; background-color: #d33682; }
.highlight .gd { color: #657b83; background-color: #d33682; }
.highlight .ge { font-style: italic; }
.highlight .gh { color: #93a1a1; }
.highlight .gi .x { color: #657b83; background-color: #eee8d5; }
.highlight .gi { color: #859900; background-color: #eee8d5; }
.highlight .go { color: #657b83; }
.highlight .gp { color: #586e75; }
.highlight .gr { color: #657b83; background-color: #dc322f; }
.highlight .gt { color: #dc322f; background-color: #eee8d5; }
.highlight .gu { color: #586e75; }
.highlight .il { color: #d33682; }
.highlight .k { color: #268bd2; font-weight: bold; }
.highlight .kt { color: #268bd2; font-weight: bold; }
.highlight .m { color: #d33682; }
.highlight .mf { color: #d33682; }
.highlight .mh { color: #d33682; }
.highlight .mi { color: #d33682; }
.highlight .mo { color: #d33682; }
.highlight .n { color: #586e75; }
.highlight .na { color: #93a1a1; }
.highlight .nb { color: #2aa198; }
.highlight .nc { color: #268bd2; font-weight: bold; }
.highlight .ne { color: #268bd2; font-weight: bold; }
.highlight .nf { color: #268bd2; font-weight: bold; }
.highlight .ni { color: #839496; }
.highlight .nl { color: #859900; }
.highlight .nn { color: #cb4b16; }
.highlight .no { color: #b58900; }
.highlight .nt { color: #268bd2; font-weight: bold; }
.highlight .nv { color: #b58900; }
.highlight .p { color: #586e75; }
.highlight .o { color: #6c71c4; }
.highlight .ow { font-weight: bold; }
.highlight .s { color: #2aa198; }
.highlight .s1 { color: #2aa198; }
.highlight .s2 { color: #2aa198; }
.highlight .sb { color: #2aa198; }
.highlight .sc { color: #2aa198; }
.highlight .sd { color: #2aa198; }
.highlight .se { color: #2aa198; }
.highlight .sh { color: #2aa198; }
.highlight .si { color: #2aa198; }
.highlight .sr { color: #859900; }
.highlight .ss { color: #d33682; }
.highlight .sx { color: #dc322f; }
.highlight .vc { color: #b58900; }
.highlight .vg { color: #b58900; }
.highlight .vi { color: #b58900; }
.highlight .w { color: #eee8d5; }
