<!DOCTYPE html>
<html>
  <head>
    <title>Emacsair</title>
    <meta name="author"      content="Jonas Bernoulli <jonas@bernoul.li>">
    <meta name="description" content="Blog of Jonas Bernoulli">
    <meta name="keywords"    content="personal, blog">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/the.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic">
  </head>

  <body>
    <nav>
      <a href="/about">About</a>
      <a href="/">Posts</a>
      <a href="/feed.xml">Rss</a>
      <a href="https://twitter.com/magit_emacs">Twitter</a>
      <a href="https://github.com/tarsius">Github</a>
    </nav>
    <header>
      <h1><a href="/"><img alt="E" src="/assets/logo.png"></a> macsAir</h1>
      <h4>Collecting frequent-committer miles</h4>
    </header>
{{ content }}
  </body>
</html>
