<!DOCTYPE html>
<html>
  <head>
    <title>Emacsair! {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="author"      content="Jonas Bernoulli <jonas@bernoul.li>">
    <meta name="description" content="Blog of Jonas Bernoulli">
    <meta name="keywords"    content="personal, blog">
    <link rel="icon" href="/assets/emacsair.ico">
    <link rel="stylesheet" type="text/css" href="/assets/page.css">
    <script src="/assets/js/count.js" async
            data-goatcounter="https://emacsair-me.goatcounter.com/count"></script>
  </head>

  <body>
    <nav>
      <a href="/about">About</a>
      <a href="/">Posts</a>
      <a href="/feed.xml">Rss</a>
      <a href="https://emacs.ch/@tarsius">Mastodon</a>
      <a href="https://github.com/tarsius">Github</a>
    </nav>
    <header>
      <h1><a href="/"><img alt="E" src="/assets/logo.png"></a> macsAir</h1>
      <h4>Collecting frequent-committer miles</h4>
    </header>
{{ content }}
  </body>
</html>
